USE GCSS
GO

CREATE PARTITION FUNCTION partfn (datetime2(7))
AS
RANGE LEFT
FOR VALUES (
    N'2009-01-01T00:00:00', N'2009-04-01T00:00:00', N'2009-07-01T00:00:00', N'2009-10-01T00:00:00',
    N'2010-01-01T00:00:00', N'2010-04-01T00:00:00', N'2010-07-01T00:00:00', N'2010-10-01T00:00:00',
    N'2011-01-01T00:00:00', N'2011-04-01T00:00:00', N'2011-07-01T00:00:00', N'2011-10-01T00:00:00',
    N'2012-01-01T00:00:00'
)

CREATE PARTITION SCHEME partscheme AS
PARTITION partfn
TO (
    stage2datap1fg, stage2datap2fg, stage2datap3fg, stage2datap4fg,
    stage2datap1fg, stage2datap2fg, stage2datap3fg, stage2datap4fg,
    stage2datap1fg, stage2datap2fg, stage2datap3fg, stage2datap4fg,
    stage2datap1fg,
    stage2datap1fg
)

ALTER TABLE stage2.CASE_END2END DROP CONSTRAINT CE2E_PK
ALTER TABLE stage2.CASE_END2END ADD  CONSTRAINT CE2E_PK
PRIMARY KEY NONCLUSTERED 
(
	CASE_ID ASC
) WITH (
    PAD_INDEX = OFF
    , STATISTICS_NORECOMPUTE = OFF
    , SORT_IN_TEMPDB = OFF
    , IGNORE_DUP_KEY = OFF
    , ONLINE = OFF
    , ALLOW_ROW_LOCKS = ON
    , ALLOW_PAGE_LOCKS = ON
)
ON PRIMARY

CREATE CLUSTERED INDEX ClusteredIndex_on_partscheme_634568763651826172 ON stage2.CASE_END2END 
(
	CR_DATE_CUST
) WITH (
    SORT_IN_TEMPDB = OFF
    , IGNORE_DUP_KEY = OFF
    , DROP_EXISTING = OFF
    , ONLINE = OFF
)
ON partscheme (cr_date_cust)

DROP INDEX ClusteredIndex_on_partscheme_634568763651826172 ON stage2.CASE_END2END
WITH (
    ONLINE = OFF
)
